.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the layout takes up the full viewport height */
  }

  .mainContent {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .mainContent {
    padding: 8px;
  }
}
